.post-container {
  margin: 5px;
}
.mb-3 {
  background-color: rgba(188, 188, 188, 0.533);
}

body {
  background-color: rgb(133, 165, 138);
  /* background-image: url("musicimage.webp"); */
  background-size: 100%;
}
.purple-tag {
  color: rgb(44, 79, 44);
}
.purple-tag:hover {
  color: purple;
}
